* {
  color: black;
  font-family: Gravity, GeoSlb712 Md BT, Helvetica;
  text-decoration: none;
}

h1 {
  font-family: GeoSlb712 Md BT, Helvetica;
}

body {
  background-color: #e6e6e6;
}

.policy {
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  text-align: justify;
  background-color: #ffffff;
  border-radius: 20px;
}
